:global {
  .ant-layout-header {
    background: #7dbcea !important;
    color: #fff !important;
  }
  .ant-layout-sider {
    background: #3ba0e9 !important;
    color: #fff;
    line-height: 120px;
  }
}
